<div nz-row>
  <div nz-col nzOffset="8" nzSpan="8">
    <form nz-form class="sticker-pack-form" [formGroup]="stickerPackForm">
      <nz-form-item>
        <h3>Добавить стикер пака</h3>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Стикер пак должен существовать">
          <nz-input-group>
            <input
              nz-input
              nzSize="large"
              type="text"
              formControlName="name"
              placeholder="Название стикер пака"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input
              nz-input
              nzSize="large"
              type="text"
              formControlName="alias"
              placeholder="Алиас для отображения (опционально)"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <nz-select
              *ngIf="(tagService.total$ | async) || (tagService.loading$ | async)"
              [nzLoading]="tagService.loading$ | async"
              formControlName="tagIds"
              nzMode="multiple"
              nzNotFoundContent="Ничего не найдено"
              nzPlaceHolder="Тэги"
              nzSize="large"
              style="width: 100%">

              <nz-option
                *ngFor="let tag of tagService.tags$ | async"
                [nzLabel]="tag.name"
                [nzValue]="tag.id">
              </nz-option>
            </nz-select>

            <nz-empty *ngIf="!(tagService.total$ | async) && !(tagService.loading$ | async)"
                      nzNotFoundContent="Не найдено тэгов"></nz-empty>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <button (click)="submit()"
                [nzLoading]="loading"
                nz-button
                nzBlock
                nzSize="large"
                nzType="primary">
          Добавить
        </button>
      </nz-form-item>

    </form>
  </div>
</div>
