<div nz-row>
  <div nz-col nzSpan="16" nzOffset="4">
    <nz-page-header>
      <nz-page-header-title>Тэги</nz-page-header-title>

      <nz-page-header-subtitle>
        <button
          (click)="tagService.refreshTags()"
          [nzLoading]="tagService.loading$ | async"
          nz-button
          nzShape="circle"
          nzSize="small">
          <i nz-icon nzType="reload" nzTheme="outline"></i>
        </button>
      </nz-page-header-subtitle>

      <nz-page-header-extra>
        Всего тэгов:
        <nz-badge [nzCount]="tagService.total$ | async" nzShowZero></nz-badge>
      </nz-page-header-extra>

      <nz-page-header-content>
        <nz-input-group *ngIf="(tagService.total$ | async) || (tagService.loading$ | async)">
          <nz-select
            [formControl]="selectedTagsControl"
            [nzLoading]="tagService.loading$ | async"
            nzMode="multiple"
            nzNotFoundContent="Ничего не найдено"
            nzPlaceHolder="Тэги"
            style="width: 100%">

            <nz-option *ngFor="let tag of tagService.tags$ | async" [nzLabel]="tag.name" [nzValue]="tag.id"></nz-option>

          </nz-select>
        </nz-input-group>

        <ng-template [ngIf]="!(tagService.loading$ | async) && !(tagService.total$ | async)">
          <h3>Ничего не найдено</h3>
        </ng-template>
      </nz-page-header-content>

      <nz-page-header-footer *appIfAdmin>
        <button nz-button nzType="default" routerLink="admin/tags">Добавить тэг</button>
      </nz-page-header-footer>

    </nz-page-header>
  </div>
</div>
