<div nz-row>
  <div nz-col nzOffset="2" nzSpan="20">
    <nz-page-header>
      <nz-page-header-title>Стикер паки</nz-page-header-title>

      <nz-page-header-extra>
        Всего стикер паков:
        <nz-badge [nzCount]="stickerPackService.total$ | async" nzShowZero></nz-badge>
      </nz-page-header-extra>

      <nz-page-header-footer *appIfAdmin>
        <button nz-button nzType="default" routerLink="admin/stickers">Создать новый стикер пак</button>
      </nz-page-header-footer>
    </nz-page-header>

    <div style="padding:30px;">
      <div *ngFor="let stickerPack of stickerPackService.stickerPacks$ | async" nzGutter="8" nz-row>
        <div nz-col nzSpan="6">

          <nz-card [nzActions]="[actionShare, actionClap]" [nzCover]="cover">
            <nz-card-meta
              [nzTitle]="stickerPack.name"
              [nzDescription]="description">
            </nz-card-meta>
          </nz-card>

          <ng-template #description>
            <div>
              Добавлен {{ stickerPack.createdBy.name }}, {{ stickerPack.createdAt | date }}
            </div>

            <div>
              <nz-tag *ngFor="let tag of stickerPack.tags">
                {{ tag.name }}
              </nz-tag>
            </div>

            <div>Рейтинг: {{ stickerPack.claps }}</div>
          </ng-template>

          <ng-template #cover>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"/>
          </ng-template>

          <ng-template #actionShare>
            <i nz-icon nzType="link" nzTheme="outline"></i>
          </ng-template>

          <ng-template #actionClap>
            <fa-icon [icon]="faThumbsUp" style="user-select: none"></fa-icon>
            <span style="padding-left: 5px; user-select: none"></span>
          </ng-template>

        </div>
      </div>
    </div>

    <div *ngIf="!(stickerPackService.total$ | async) && !(this.stickerPackService.loading$ | async)"
         style="text-align: center">
      <nz-empty nzNotFoundContent="Ничего не найдено"></nz-empty>
    </div>
  </div>
</div>
